.block {
  @include m.responsive(bigger-than-tablet) {
    margin-bottom: 5rem;
  }

  @include m.responsive(tablet) {
    margin-bottom: 4rem;
  }

  @include m.responsive(mobile) {
    margin-bottom: 3rem;
  }

  .title {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .row {
    display: table;
    width: 100%;
    clear: both;
    margin-bottom: 2.5rem;

    .image {
      position: relative;
      width: 6rem;
      height: 6rem;
      float: left;
      margin-right: 1.25rem;
      margin-bottom: 1.25rem;

      @include m.responsive(tablet) {
        width: 4.5rem;
        height: 4.5rem;
      }

      img {
        border-radius: 100px;
      }
    }

    .info {
      a {
        color: inherit;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}
