.footer {
  width: 100%;
  margin-bottom: 3rem;

  .container {
    max-width: v.$desktop-max-width;
    width: v.$main-width;
    display: flex;
    flex-wrap: wrap;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: unset;

    ul {
      list-style: none;

      li {
        margin-bottom: 1rem;
      }
    }

    a {
      text-transform: capitalize;
      color: #757575;
      font-weight: 500;
      transition: color 0.25s;

      &:hover {
        color: #151515;
      }
    }

    .logo {
      flex: 1 1 600px;
      border-right: 1px solid #e4e4e4;
    }
  }
}
