.card {
  flex: 1 1 350px;

  @include m.responsive(tablet) {
    flex: 1 1 150px;
  }

  .image {
    @include m.image-wrapper(240px);
    border-radius: v.$primary-rounded;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .image_lg {
    @include m.image-wrapper(450px);
    border-radius: v.$primary-rounded;
    overflow: hidden;

    @include m.responsive(tablet) {
      @include m.image-wrapper(250px);
    }
  }

  .header {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 10px;
  }

  .excerpt {
    font-size: 1.2rem;
  }

  .title_lg {
    font-size: 2.5rem;
  }
}
