.container {
  &:not(:last-child) {
    @include m.horizontal-divider;
    @include m.horizontal-divider-line;
  }

  .link {
    display: block;
    text-transform: uppercase;
    border-left: 5px solid #fd690d;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
}
