.postcard {
  margin-bottom: 3rem;

  @include m.responsive(bigger-than-mobile) {
    display: flex;
    gap: 2rem;
  }

  .image {
    @include m.image-wrapper(230px);

    @include m.responsive(mobile) {
      @include m.image-wrapper(240px);
      margin-bottom: 1rem;
    }
  }

  .info {
    .header {
      margin-bottom: 1rem;
    }
    time {
      margin-left: 12px;
    }
  }

  a {
    color: inherit;
  }

  img {
    border-radius: v.$primary-rounded;
  }
}
