.container {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 9999;
  display: flex;
  transform: translatex(91%);
  @include m.primary-transition(transform);

  .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$success-color;
    padding: 0 1rem;
    border-top-left-radius: v.$btn-rounded;
    border-bottom-left-radius: v.$btn-rounded;
    cursor: pointer;
  }

  &.show {
    transform: translatex(0);
  }
}
