.container {
  .content {
    max-width: 800px;
    width: 85%;
    text-align: center;
    @include m.center;
    @include m.horizontal-divider;

    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    p {
      display: inline-block;
      width: 70%;
      font-size: 1.2rem;
    }

    .input {
      display: block;
      width: 100%;
      margin-bottom: 0.8rem;
      border: 1px solid #ddd;
      border-radius: v.$primary-rounded;
      background-color: #fafafa;
      padding: 1.1rem;
      @include m.primary-transition(border);

      &:last-child {
        margin-bottom: 1.5rem;
        background-color: red;
      }

      &:focus,
      &:active {
        outline: none;
        border: 1px solid #bbb;
      }
    }
  }
}
