.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999;

  .container {
    max-width: v.$desktop-max-width;
    width: v.$main-width;
    @include m.center;
    position: relative;
    @include m.horizontal-divider-line;
  }
}
