.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999;

  .container {
    max-width: v.$desktop-max-width;
    width: v.$main-width;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include m.horizontal-divider-line;
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: center;
    padding: 1rem 0;
  }

  .menu {
    all: unset;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    span {
      font-family: inherit;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .submenu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    text-align: center;

    ul {
      all: unset;
      list-style: none;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      row-gap: 3rem;

      padding: 3rem 0;
      margin-top: 3rem;

      // need responsive
      border-top: 1px solid #e4e4e4;
    }

    .page,
    .social {
      li {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: capitalize;

        &:not(:last-child) {
          margin-bottom: 0.3rem;
        }

        a {
          color: inherit;
        }
      }
    }

    .page,
    .social {
      &:not(:last-child) {
        border-right: 1px solid #e4e4e4;
      }
    }

    .page {
    }

    .social {
    }

    .title {
      display: block;
      font-family: inherit;
      font-size: 1.1rem;
      text-transform: capitalize;
      color: #777;
      margin-bottom: 1.5rem;
    }
  }

  .logo {
    justify-self: center;

    .text {
      font-size: 2.5rem;
      font-family: 'Delius Swash Caps', cursive;
    }

    .default {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: inherit;

      span {
        span {
          img {
            height: 100px !important;
            transition: height 0.5s;
          }
        }
      }
    }

    .small {
      span {
        span {
          img {
            height: 50px !important;
          }
        }
      }
    }
  }

  .search {
    justify-self: end;

    .input_field {
      border: none;
      caret-color: #777;

      &::-webkit-input-placeholder {
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding-left: 67%;
        color: #000;
        @include m.primary-transition(padding-left);
        // transition: padding-left 0.25s;
      }

      &:focus {
        outline: none;
      }

      &:hover::-webkit-input-placeholder {
        padding-left: 64%;
      }

      &:focus::-webkit-input-placeholder {
        padding-left: 0;
      }
    }

    .submit_button {
      font-size: 1.4rem;
      line-height: 100%;
      border: none;
      background: transparent;
    }
  }
}
