.block {
  justify-self: center;

  @include m.responsive(mobile) {
    justify-self: end;
  }

  .text {
    font-size: 2.5rem;
    font-family: 'Delius Swash Caps', cursive;
  }

  .default {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: inherit;

    span {
      span {
        img {
          max-height: 35px !important;
          transition: max-height 0.5s;
        }
      }
    }
  }

  .large {
    span {
      span {
        img {
          max-height: 100px !important;
          @include m.responsive(bigger-than-mobile) {
          }

          @include m.responsive(tablet) {
            max-height: 65px !important;
          }

          @include m.responsive(mobile) {
            max-height: 50px !important;
          }
        }
      }
    }
  }
}
