.toggle {
  all: unset;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    vertical-align: middle;
    margin-left: 5px;
  }
}
