.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem 0;

  @include m.responsive(mobile) {
    grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
    grid-auto-rows: 1fr;
  }
}
