.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem 0;

  @include m.responsive(mobile) {
    grid-template-columns: repeat(2, minmax(127px, 1fr));
  }
}
