.field {
  justify-self: end;
  position: relative;

  @include m.responsive(mobile) {
    display: none;

    &.switch {
      display: block;
      width: 100%;
      @include m.horizontal-divider-line;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  @include m.responsive(bigger-than-mobile) {
    &.switch {
      display: none;
    }
  }

  .input {
    border: none;
    caret-color: #777;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 1px;
      padding-left: 67%;
      color: #000;
      @include m.primary-transition(padding-left);

      @include m.responsive(mobile) {
        padding-left: unset;
      }

      @include m.responsive(bigger-than-mobile) {
        padding-left: 67%;
        @include m.primary-transition(padding-left);
      }
    }

    @include m.responsive(bigger-than-mobile) {
      &:hover::-webkit-input-placeholder {
        padding-left: 64%;
      }

      &:focus::-webkit-input-placeholder {
        padding-left: 0;
      }
    }
  }

  .submit {
    font-size: 1.4rem;
    line-height: 100%;
    border: none;
    background: transparent;
  }

  ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
    border: 2px solid #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    padding: 0;
    margin-top: 0.7rem;

    li {
      padding: 0.55rem 0.35rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: transparent;
      overflow: hidden;
      @include m.primary-transition(background-color);

      &:not(:last-child) {
        border-bottom: 1px solid #e4e4e4;
      }

      &:hover {
        background-color: #d1d1d1;
      }

      a {
        font-weight: 600;
        color: black;
      }
    }
  }
}
