$laptop-L-width: 1441px;
$laptop-width: 1025px;
$tablet-width: 769px;
$mobile-width: 426px;

@mixin horizontal-divider {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

@mixin vertical-divider {
  margin-right: 3rem;
  padding-right: 3rem;
}

@mixin horizontal-divider-line {
  border-bottom: 1px solid #e4e4e4;
}

@mixin vertical-divider-line {
  border-right: 1px solid #e4e4e4;
}

@mixin image-wrapper($height: auto, $width: 100%) {
  position: relative;
  width: $width;
  height: $height;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin primary-transition($item) {
  transition: #{$item} 0.25s;
}

@mixin responsive($size) {
  @if $size == mobile {
    @media (max-width: $mobile-width) {
      @content;
    }
  } @else if $size == bigger-than-mobile {
    @media (min-width: $mobile-width) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: $tablet-width) {
      @content;
    }
  } @else if $size == bigger-than-tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  } @else if $size == laptop {
    @media (max-width: $laptop-width) {
      @content;
    }
  } @else if $size == desktop {
    @media (max-width: $laptop-L-width) {
      @content;
    }
  }
}
