$error-color: #ff4444;
$error-color-dark: #cc0000;
$warning-color: #ffbb33;
$warning-color-dark: #ff8800;
$success-color: #00c851;
$success-color-dark: #007e33;
$info-color: #33b5e5;
$info-color-dark: #0099cc;
$active-color: #00008b;

$gray-1: #fafafa;
$gray-2: #f0f0f0;
$gray-3: #e7e7e7;
$gray-4: #dddddd;
$gray-5: #d3d3d3;
$gray-6: #c9c9c9;
$gray-7: #bfbfbf;
$gray-8: #b6b6b6;
$gray-9: #acacac;

$dark-1: #050505;
$dark-2: #0f0f0f;
$dark-3: #191919;
$dark-4: #222222;
$dark-5: #2c2c2c;
$dark-6: #363636;
$dark-7: #404040;
$dark-8: #4a4a4a;
$dark-9: #545454;

$blue-1: #e7f5ff;
$blue-2: #d0ebff;
$blue-3: #a5d8ff;
$blue-4: #74c0fc;
$blue-5: #4dabf7;
$blue-6: #339af0;
$blue-7: #228be6;
$blue-8: #1c7ed6;
$blue-9: #1971c2;

$unique-color: #3f729b;
$unique-color-dark: #1c2331;

$primary-rounded: 8px;
$btn-rounded: 5px;

$section-space: 3rem;
$cms-primary-padding: 2rem;
$cms-secondary-padding: 1rem;

$desktop-max-width: 1200px;
$main-width: 90%;

$space-for-header: 117px + 16px + 16px;
